


html,body{
    box-sizing:border-box;
}


body{
    height: 5000px;
}


nav{
 font-size: 27px;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    text-align: center;
    background-color: white;
z-index: 3;
}


nav a{
    
      text-decoration: none;
    color: black;
    padding: 18px;
    display: inline-block;
}

.box{

    padding: 10px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 90px;
}

.box2{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 140px;
position: relative;
    text-align: center;
color: rgb(100, 100, 255);
z-index: 2;

}

.box3{
text-align: center;
padding: 20px;
font-size: 18px;
}

.section{

 position: relative;
    left: 400px;
    right: 400px;
    width: 600px;
    height: 600px;
}

.section2{
    position: relative;
    left: -400px;
    right: -400px;
    width: -600px;
    height: -600px;
    
}

.section2{

    width: 10px;
    height: auto;
}



.info .info-description{
text-align: center;
font-size: 30px;
}


.info{
    margin-bottom: 6rem;
}

.info .network-info{
  
    display: flex;
    justify-content: space-evenly;
}



.info .network-info .stat{
    width: 17%;
    background-color: var(--button_light_secondary);
    background-color: #f5f4f4;
    padding: 24px;
    border-radius: 24px;
    position: relative;
    overflow: hidden;
    
    
}


.info .network-info .stat:hover{
    background-color:#d5d5d5;
}




.info .network-info .stat-titlel{
margin-bottom: 12px;

}





.info .network-info .stat-count{
    font-size: 24px;
    font-weight: bold;
}

.info .network-info .stat img{
position: absolute;
right: 0;
top: 50%;
transform: translate(30%, -50%);
height: 64px;
opacity: 5%;

}

.info .network-info .stat .stat-titlel,.info .network-info .stat .stat-count{

    position: relative;
   }

 


.Finance{

 display: flex;
   gap: 30px;
   justify-content: center;
}


.freedom{
    width: 330px;
    height: 260px;
    background-color: #f5f4f4;
    border-radius: 20px;
   
}

.freedom:hover{
    background-color:#d5d5d5 ;
}

.Nominator{
font-size: 19px;
    padding-left: 27px;
    padding-top: 45px;
   
}

.Explore{
    padding-left: 27px;
    padding-top: 60px;
    color: rgb(26, 136, 254);
    
}

.Explore1{
    
    padding-left: 27px;
    padding-top: 15px;
    color: rgb(26, 136, 254);

}
    
.Explore2{
     padding-left: 27px;
    padding-top: 80px;
    color: rgb(26, 136, 254);
}

.freedom1{
    padding-left: 425px;
    font-size: 25px;
}

a {
  text-decoration: none;
  color: rgb(26, 136, 254);
}


.img{

   
  position: relative;
  top: -220px;
left: 30px;

}


.sep{
    height: 20%;
    width: auto;
}



.Use3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 10px;
}

.Use{
   display: flex;
   gap: 50px;
  padding-left: 400px;
   justify-content: left
}

.Use2{
    text-align: center;
    padding-top: 30px;
  direction: ltr;          
  text-align: left;
}

.Use5{
    color: #7d7b7b;
}

.Eng{
    padding-left: 130px;
    padding-top: 30px;
    font-size: 20px;
}


.use6{

}

.use6:hover{
    color: rgb(28, 97, 225);
}


.Build{
    background-color: #12172c;
    height: 20%;
    width: 100%;
}


.boxes{
    background-color: rgba(8, 48, 114, 0.5);
    width: 1000px;
    height: 450px;
    border-radius: 32px;
    margin-left: 430px;
    margin-top: 30px;
}

.boxes1{
    background-color: rgba(8, 48, 114, 0.5);
    width: 300px;
    height: 180px;
    border-radius: 32px;
    margin-left: 430px;
    margin-top: 25px;
}


.Build1{

text-align: center;
color: #ffffff;
position: relative;
top: 110px;
}

.Build2{
   position: absolute;
   left: 750px;
   top: 2430px;
   color: #ffffff;
}

.Build3{
    position: absolute;
   left: 750px;
   top: 2500px;
   color: #ffffff;
}


.boxes2{
    background-color: rgb(255, 255, 255);
    width: 135px;
    height: 40px;
    border-radius: 32px;
    position: absolute;
   left: 750px;
   top: 2630px;
   z-index: 1;
}


.Build4{
    position: absolute;
   left: 762px;
   top: 2640px;
   z-index: 3;
   color: #224de6;
}

.Build5{
 position: absolute;
   left: 475px;
   top: 2700px;
   color: #ffffff
}

.Build6{
   position: absolute;
   left: 505px;
   top: 2455px;
   color: #ffffff
}


.Build7{
color: #ffffff;
}

.Build7:hover{
    transform: scale(50%);
}

.Build8{
    position: absolute;
   left: 475px;
   top: 2900px;
   color: white;
}


.Build9{
    position: absolute;
   left: 475px;
   top: 2945px;
   color: #ffffff;
}

a{
    direction: none;
    color: #000000;
}


.Build10{
   margin-top: 150px;
   
}

.Build11{
  
}